<section class="table-section">
 
  <button id="get-button" class="" (click)="getMovies()">Get movie List</button>
  <table class="table table-striped w-75 mx-auto">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movieList$ | async" class="table-row">
        <td>{{movie.title}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.category}}</td>
        <td>
          <button id="delete-button" class="btn btn-danger" (click)="deleteMovie(movie.id)">
            Delete
          </button>
        </td>
      </tr>

    </tbody>
  </table>
 
</section>